#ibody{
	background: #F1F1F1;
	background-size:100%;
}
#container{
	width: 1200px;
	margin: 0 auto;
}
#htitle{
	width: 1200px;
	height: 80px;
}
 
#logo{
	float: left;
}

#tel{
	float: left;
	padding-top:18px; 
	padding-left: 670px;
	width: 50px;
	height: 50px;
}

#hright{
	padding-top:15px; 
}
#hright span{
	float: right;
	font-size: 20px;
	color: #f37720;
	height: 28px;

}

#uls{
	margin-top: 5px;
	height: 35px;
	width: 1200px;
	background: #f1f1f1;
}

#uls li{
	width: 200x;
	float: right;
}
#uls a{
	font-size: 25px;
	font-family: "微软雅黑";
	color:#777777;
	display: block;
	width: 200px;
	height:30px;
	text-align: center;	
	text-decoration: none;
}

#uls a:hover{
	color: orange;
	font-size: 30px;
}

#himg img{
	padding-top: 5px;
	width: 1200px;
}


#main1 {
	clear: both;
	margin: 10px;
	width: 1180px;
	height: 260px;
}
#main1 #nav2 a{	
	display: block;
	width: 155px;
	height:155px;
	margin: 20px;
	float: left;
	transition:all 0.2s;
}

#main1 #nav2 a:hover{
	display: block;
	transform:scale(1.35) rotate(360deg);
	-webkit-transform:scale(1.35) rotate(360deg);	
	-o-transform:scale(1.35) rotate(360deg);
	-moz-transform:scale(1.35) rotate(360deg);
}

#main1 #a1{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892622779718.png) no-repeat;
}
#main1 #a1:hover{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892622777705.png) no-repeat;
}


#main1 #a2{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892622942565.png) no-repeat;
}

#main1 #a2:hover{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892622947973.png) no-repeat;
}


#main1 #a3{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623053276.png) no-repeat;
}
#main1 #a3:hover{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623057043.png) no-repeat;
}


#main1 #a4{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623176813.png) no-repeat;
}
#main1 #a4:hover{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623171362.png) no-repeat;
}

#main1 #a5{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623337797.png) no-repeat;
}
#main1 #a5:hover{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623337631.png) no-repeat;
}


#main1 #a6{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623518443.png) no-repeat;
}
#main1 #a6:hover{
	background: url(http://www.lionhit.com/uploadImages/2014-01-09/13892623516266.png) no-repeat;
}


#main1 #nav3 a{	
	display: block;
	font-size: 25px;
	font-family: "黑体";
	color:#363636;
	margin: 20px;
	margin-top: 5px;
	width: 155px;
	height:25px;
	text-align: center;
	text-decoration: none;
	float: left;
}
#main1 #nav3 a:hover{
	color: orange;
	font-size: 30px;
}

#main2{
	width: 1180px;
	height: 300px;
	margin: 10px;
	border-top: 5px solid #fff;
}

#m2title span{
	color: #F36320;
	font-size: 25px;
	font-family: "黑体";
}

#icon{
	border-top: 3px solid #FBFBFB;
	margin-top: 5px;
}

#m2left{
	width: 500px;
	height: 300px;
	float: left;
}
#m2right{
	margin-left:20px; 
	width: 650px;
	height: 300px;
	float: left;
}

#m2left h1{
	display: block;
	color: #333333;
	font-size: 35px;
	font-family: "楷体";
	padding-top: 10px;
	margin-left: 75px;
	margin-top: 55px;
	width: 355px;
	height:50px;
	text-align: center;
	text-decoration: none;
}

#m2right a{	
	display: block;
	float: left;
	width: 130px;
	height: 90px;
  	border-spacing: 50px;
  	margin-left: 20px;
  	margin-top: 15px;
  	background-repeat: no-repeat;
}

#td1{
	background: url(http://www.lionhit.com/uploadImages/2013-12-28/13882341678307.png);
}
#td2{
	background: url(http://www.lionhit.com/uploadImages/2014-01-03/13887492339203.png);
}
#td3{
	background: url(http://www.lionhit.com/uploadImages/2014-01-03/13887496435883.png);
}
#td4{
	background: url(http://www.lionhit.com/uploadImages/2014-01-03/13887497068385.png);
}
#td5{
	background: url(http://www.lionhit.com/uploadImages/2014-01-03/13887497959260.png);
}
#td6{
	background: url(http://www.lionhit.com/uploadImages/2014-01-03/13887498804346.png);
}
#td7{
	background: url(http://www.lionhit.com/uploadImages/2014-01-06/13889753087831.png);
}
#td8{
	background: url(http://www.lionhit.com/uploadImages/2014-01-07/13890711573045.png);
}
#td9{
	background: url(http://www.lionhit.com/uploadImages/2014-01-06/13889754518862.png);
}
#td10{
	background: url(http://www.lionhit.com/uploadImages/2014-01-22/13903559989099.png);
}
#td11{
	background: url(http://www.lionhit.com/uploadImages/2014-01-06/13889977802578.png);
}
#td12{
	background: url(http://www.lionhit.com/uploadImages/2014-01-06/13889801919722.png);
}


#footer{
	margin: 10px;
	margin-top: 50px;
	width: 1180px;
	height: 420px;
}

#ftitle{
	border-top: 5px solid #fff;
	border-bottom: 2px solid #fbfbfb;
}

#footer #icon2{
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fbfbfb;
	width: 1180px;
	height: 300px;
	background: #f1f1f1;
}
#fleft{
	width:400px;
	height: 300px;
	float: left;
}
#fright{
	margin-left:20px; 
	width: 750px;
	height: 300px;
	float: left;
}


#fleft img{
	display: block;
	margin-left: 60px;
	width: 300px;
	height: 300px;
}

#footer h1{
	display: block;
	color: #333333;
	font-size: 35px;
	font-family: "楷体";
	padding-top: 10px;
	margin-left: 75px;
	margin-top: 55px;
	width: 555px;
	height:50px;
	text-align: center;
	text-decoration: none;

}

#ffoot a{
	display: block;
	float: left;
	width: 200px;
	height: 40px;
}

#ffoot h1{
	display: block;
	color: #333333;
	font-size: 30px;
	font-family: "楷体";
	padding-top: 10px;
	margin-left: 15px;
	margin-top: 15px;
	width: 355px;
	height:25px;
	text-align: center;
	text-decoration: none;
	float: left;
}

#ffoot h1:hover{
	display: block;
	color: #F36320;
	font-size: 35px;
	font-family: "楷体";
	padding-top: 10px;
	margin-left: 15px;
	margin-top: 15px;
	width: 355px;
	height:25px;
	text-align: center;
	text-decoration: none;
	float: left;
}

#address h1{
	display: block;
	color: #333333;
	font-size:20px;
	font-family: "楷体";
	padding-top: 10px;
	margin: 10px;
	width: 1180px;
	height:25px;
	text-align: left;
	text-decoration: none;
	float: left;
	border-top: 5px solid #fff;
}